html {
    font-size: 62.5%;
    font-family: Noto Sans TC;
    height: 100%;
  }
  body{
    /* max-width: 1920px; */
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
  
  .box{
    border: 1px solid black;
  }
  
  nav {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 9999;
  }
  
  .navbar {
    width: 1200px;
    height: 34px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 34px;
  }
  
  .logo {
    font-size: 3rem;
    color: #448899;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar .menu {
    display: block;
    font-size: 1.33rem;
  }
  
  .menu .menu-item {
    padding: 0px 10px;
    color: #666;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .container {
    position: relative;
    top: 54px;
    max-width: 1920px;
    min-height: calc(100vh - 124px);
    margin: 0 auto;
    padding-bottom: 154px;
    /* text-align: center; */
  }
  
  
  .loading {
    opacity: 0;
    display: flex;
    position: relative;
    width: 60px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in;
  }
  
  .loading.show {
    opacity: 1;
  }
  
  .ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump 0.5s ease-in infinite;
    display: inline-block;
  }
  
  .ball:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  
  .ball:nth-of-type(3) {
    animation-delay: 0.2s;
  }

  footer{
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
footer div{
  width: 250px;
  height: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.3rem;
  color: #fff;
}

html{
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

input[name=email]{
  margin: 15px 0 10px 0;
}

input[name=name]{
  margin-bottom: 10px;
}

input[type=password] {
  margin-bottom: 10px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #666;
}

button {
  background-color: #489;
  color: white;
  font-size: 1.9rem;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.form_message{
  font-size: 1.6rem;
  text-align: center;
  color: #666;
}

.form_text{
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 57px;
}

.modal_content {
  background-color: #fff;
  margin: 20px auto 0 auto;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  overflow: hidden;
  width: 340px;
}

.decorator_bar {
  text-align: center;
  height: 10px;
  position: relative;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.close {
  position: absolute;
  right: 17px;
  top: 17px;
  color: #000;
  font-size: 35px;
}

.close:hover,
.close:focus {
  font-weight: bold;
  cursor: pointer;
}

.form_container {
  padding: 15px;
}
.form_container>.title{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.login_form {
  display: none;
}
.register_form {
  display: none;
}

.logout_tag{
  display: none;
}

@-webkit-keyframes animatezoom {
  from {
      -webkit-transform: scale(0)
  }

  to {
      -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }

  .cancelbtn {
      width: 100%;
  }
}

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }

  @media (max-width: 1200px) {
    .container {
      width: 100%;
    }
  }

  
  @media (max-width: 600px) {
    nav .menu {
      display: none;
    }
  }
  