{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/attraction.css" />
{% endblock %}


{% block content %}
<div class="attraction_container">
    <section class="attraction_profile">
        <div class="pictures_container">
            <div class="slideshow" id="slideshow"> </div>
        </div>
        <div class="profile_container">
            <div class="profile">
                <div class="profile_name text_align_center" id="name"></div>
                <div class="profile_category_mrt text_align_center">
                    <span class=" profile_category" id="category"></span>
                    <span> at </span>
                    <span class="mrt" id="mrt"></span>
                </div>
                <form action="" method="post">
                    <div class="title text_align_center">訂購導覽行程</div>
                    <div class="sub_title text_align_center">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="field">
                        <label for="date">選擇日期：
                            <input type="date" name="date" id="date" class="date">
                        </label>
                    </div>
                    <div class="field">
                        <label for="">選擇時間：
                            <input type="radio" name="time" id="morning" value="morning" class="time" checked>
                            <label for="morning">
                                <div class="time_tag">
                                    <div>上半天</div>
                                    <h6>09:00~16:00</h6>
                                </div>
                            </label>
                            <input type="radio" name="time" id="afternoon" value="afternoon" class="time">
                            <label for="afternoon">
                                <div class="time_tag">
                                    <div>下半天</div>
                                    <h6>14:00~21:00</h6>
                                </div>
                            </label>
                        </label>　
                    </div>
                    <div class="field">
                        <label for="">導覽費用：
                            <div class="price" id="price">新台幣2000元</div>
                        </label>
                    </div>
                    <input type="button" value="開始預訂行程" class="booking_btn">
                </form>
            </div>
        </div>
    </section>
    <hr>
    <section class="attraction_description">
        <p id="description"> </p>
        <br>
        <h3>景點地址:</h3>
        <p id="address"></p>
        <br>
        <h3>交通方式:</h3>
        <p id="transport"></p>

    </section>
</div>


{% endblock %}


{% block script %}
<script src="/js/attraction.js"></script>
{% endblock %}