{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/index.css" />
{% endblock %}


{% block content %}
<header>
    <div class="header_right"></div>
    <div class="header_left">
        <img class="header_img" src="/pics/welcome 1.png" alt="" />
    </div>
    <div class="header_text">
        <div class="slogan1">輕鬆享受台北一日悠閒</div>
        <div class="slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search">
            <input id="textInput" type="text" placeholder="輸入景點名稱查詢">
            <div class="search_btn"></div>
        </div>
    </div>
</header>

<div id="viewPointGallery"></div>

{% endblock %}

{% block script %}
<script src="/js/index.js"></script>
{% endblock %}